@import url(light.css);
:root{
 direction: rtl;   
 --navbar-hover: #ffb3d9;
}

/* ---------- Color Control And Direction ---------- */
/*
:root {
    --primary-color: rgb(75, 46, 25);
    --secondary-color: #9b3b5d;
    --white-background: white;
    --on-primary: #42281a;
    --input-border: #c2a89b;
}
*/
/* ---------- Whole Web ---------- */
body {
     
    font-family: 'Vazirmatn', sans-serif;
    background-color: var(--md-sys-color-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding-top: 70px;
}

.container {
    background-color: var(--md-sys-color-surface-container-lowest);
    padding: 30px;
    width: 320px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: right;
}

blockquote {
    text-align: center;
}

h1,
h2,
h3 {
    text-align: center;
    margin-bottom: 25px;
    color: var(--md-sys-color-primary);
}

label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
    color: var(--md-sys-color-primary);
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 18px;
    border: 1px solid var(--md-sys-color-surface-variant);
    border-radius: 6px;
    font-size: 14px;
    box-sizing: border-box;
    resize: vertical;
}

button {
    width: 100%;
    padding: 10px;
    background-color: var(--md-sys-color-primary);
    color: var( --md-sys-color-surface-container-lowest);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
    transition: background 0.5s;
}

button:hover {
    background-color: var(--md-sys-color-on-primary);
}

p {
    text-align: center;
    margin-top: 10px;
    color: var(--md-sys-color-primary);
}

a {
    color: var(--md-sys-color-primary);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* ---------- Navbar ---------- */
.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 60px;
    background: var(--md-sys-color-primary);
    color: var(--md-sys-color-secondary);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 25px;
    z-index: 1000;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    gap: 25px;
}



.navbar .brand {
    font-weight: bold;
    font-size: 18px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 18px;
    margin: 0;
    padding: 0;
}

.nav-links a,
.navbar .brand {
    color: var(--md-sys-color-surface-container-lowest);
    text-decoration: none;
    font-size: 14px;
    transition: color 0.5s;
}

.nav-links a:hover,
.nav-links a.active,
.navbar .brand:hover {
    color: var(--navbar-hover);
}